.Auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  gap: 4rem;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url("https://media.istockphoto.com/id/1992427093/photo/happy-group-of-student-people-with-mobile-phones-having-fun-sitting-outdoors.jpg?s=2048x2048&w=is&k=20&c=2fZUVT0Ia5wEKRi2j9iCry6UXYuv1JRCIdton0JLm60=");
}

.Auth>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* left side */
.a-left {
  /* gap: 2rem; */
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.a-left>img {
  width: 4rem;
  height: 4rem;
}

.a-right {

  width: 50%;
  height: 100%;
}

.infoForm {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.Webname>h1 {
  color: white;
  font-size: 3rem;
  /* background-color: blueviolet; */

  /* Create the gradient. */
  /* background-image: var(--buttonBg); */

  /* Set the background size and repeat properties. */
  /* background-size: 100%; */
  /* background-repeat: repeat; */

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
  color: white !important;
}

.Webname>h6 {
  font-size: 0.85rem;
  color: white;

}

/* right side */

.authForm {
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
}

.authForm>div {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.applogo {
  width: 10%;
  height: 10%;
}

@media only screen and (max-width: 900px) {
  .Auth {
    flex-direction: column;
  }

  .applogo {
    display: none;
  }
}