.Home {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}

@media screen and (max-width: 769px) {
  .Home {
    display: flex;
    flex-direction: column !important;
  }

}