.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;
}

.commentForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.commentForm input {
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  width: 75%;
}

.commentFormButton {
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  width: 15%;
}

.Post>img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.borderRed {
  border: 2px solid red
}

@media screen and (max-width: 769px) {

  .commentFormButton {
    font-size: 10px;
    padding: 0 2rem;
  }
}