.Profile {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}


.Profile-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-pc {
    display: inline;
}

.profile-mob {
    display: none;
}

@media screen and (max-width: 769px) {
    .Profile {
        display: flex;
        flex-direction: column !important;
    }

    .profile-pc {
        display: none;
    }

    .profile-mob {
        display: inline;
    }

    .Profile-center {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}